[submodule "sources/abap-docs"]
	path = sources/abap-docs
	url = https://github.com/marianfoo/abap-docs.git
	branch = main
[submodule "sources/abap-cheat-sheets"]
	path = sources/abap-cheat-sheets
	url = https://github.com/SAP-samples/abap-cheat-sheets.git
	branch = main
[submodule "sources/sap-styleguides"]
	path = sources/sap-styleguides
	url = https://github.com/SAP/styleguides.git
	branch = main
[submodule "sources/dsag-abap-leitfaden"]
	path = sources/dsag-abap-leitfaden
	url = https://github.com/1DSAG/ABAP-Leitfaden.git
	branch = main
[submodule "sources/abap-fiori-showcase"]
	path = sources/abap-fiori-showcase
	url = https://github.com/SAP-samples/abap-platform-fiori-feature-showcase.git
	branch = main
[submodule "sources/abap-platform-rap-opensap"]
	path = sources/abap-platform-rap-opensap
	url = https://github.com/SAP-samples/abap-platform-rap-opensap.git
	branch = main
[submodule "sources/cloud-abap-rap"]
	path = sources/cloud-abap-rap
	url = https://github.com/SAP-samples/cloud-abap-rap.git
	branch = main
[submodule "sources/abap-platform-reuse-services"]
	path = sources/abap-platform-reuse-services
	url = https://github.com/SAP-samples/abap-platform-reuse-services.git
	branch = main
